<a href="https://colab.research.google.com/github/yiwenwangANU/MySQL/blob/main/My_SQL_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SELECT FROM WHERE

In [ ]:
SELECT 
    orderNumber, 
    orderlinenumber, 
    quantityOrdered * priceEach as prices
FROM
    orderdetails
ORDER BY 
   quantityOrdered * priceEach DESC;

In [ ]:
SELECT 
    lastName, 
    firstName, 
    jobTitle, 
    officeCode
FROM
    employees
WHERE
    jobtitle = 'Sales Rep' OR 
    officeCode = 1 OR
    officecode <= 4 OR
    jobtitle <> 'Sales Rep' OR
    reportsTo IS NULL OR
    officeCode IN (1 , 2, 3) OR
    lastName LIKE '%son' OR
    firstName LIKE 'a%' OR
    lastName NOT LIKE 'B%' OR
    officeCode BETWEEN 1 AND 3
ORDER BY 
    officeCode , 
    jobTitle;

In [ ]:
SELECT DISTINCT
    state, city
FROM
    customers
WHERE
    state IS NOT NULL
ORDER BY 
    state, 
    city;

In [ ]:
SELECT
	CONCAT_WS(', ', lastName, firstname) `Full name`
FROM
	employees
ORDER BY
	`Full name`;

In [ ]:
SELECT COUNT(CustomerID) as Num, Country
FROM Customers
GROUP BY Country;

#INNER JOIN LEFT JOIN

In [ ]:
SELECT 
    productCode, 
    productName, 
    textDescription
FROM
    products
INNER JOIN productlines  
    ON products.productline = productlines.productline;

In [ ]:
SELECT 
    productCode, 
    productName, 
    textDescription
FROM
    products
INNER JOIN productlines USING (productline);